*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    background-color: #8666b4;
}
#menu-btn{
    color: #8666b4;
    margin-left: -24px;
    border-radius: 0px 15px 15px 0px;
}
.navbar{
    width: 250px;
    height: 100vh;
    position: fixed;
    margin-left: -300px;
    transition: 0.4s;
    .capital-P{
        background-color: #8666b4;
        color: #2b2b2c;  
        font-weight: bold;
        border:solid  1px;
        padding: 0px 17px;
        margin-right: 3px;
        transition: 0.4s;
        border-radius: 50px;
        &:hover,&:focus,&:hover{
            box-shadow: 2px 2px 2px 1px #8666b4;
            background-color: #2b2b2c;
            color: #8666b4;
        }
    }
    .nav-link{
        padding-left: 2.5rem !important;
        border:solid #8666b4 0px;
        transition: 0.2s;
        &:hover,&:focus,&:hover{
            background-color: #ffffff26;
            border-width: 0px 1px 0px 5px;
        }
    }

}
#btngotodash {
    position: fixed;
    top: 10px;
    right: 10px;
   
}
.btngotodash {
    border: solid gray 1px;
    padding: 3px 15px;
    border:solid 1px #8666b4;
    background-color:#2b2b2c ;
    color:#8666b4;

}

.active-nav {
    margin-left: 0;
    transition: 0.4s;
}
.active-cont{
    margin-left: 250px;
    transition: 0.4s;
}
.search-div{
    input,button{
        border-radius: 0px;
        border-color: #8666b4;
    }
    button{
        background-color: #8666b4;
        color:#fff;
        
        &:hover{
            background-color: initial;
            color:#8666b4;
            border-color: #8666b4;
        }
    }
    
}
.btn-primary{
    background-color: #8666b4;
    outline-color: #2b2b2c;
    color: #2b2b2c;
    border-width: 0px;
    &:hover,&:active{
        border:solid 1px #8666b4;
        background-color:#2b2b2c ;
        color:#8666b4;
    }
}